/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name:Sammy Donovan
 * email:Donovsam@oregonstate.edu
 */
header {
    
    display: inline-block;
    width: 100%;
    height: 150px;
    padding: 5px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}


.content {
    
    display: flex;
    font-family: Roboto;
    position: relative;
    top: 165px;
    border-radius: 3px;
}


.site-title a {
   
    font-family: Roboto Slab;
    font-size: 75px;
    font-weight: 100;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    top: -130px;
    left: 175px;
}


.filter-container {
    
    display: table;
    width: 200px;
    height: 350px;
    margin-left: 5px;
    margin-right: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #D3D3D3;
    border-radius: 5px;
}


#filter-min-price {
   
    height: 20px;
    width: 60px;
    margin: 5px;
    margin-bottom: 15px;
    padding-left: 2px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
}


#filter-max-price {
  
    height: 20px;
    width: 60px;
    margin: 5px;
    padding-left: 2px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
}


#filter-text {
    
    height: 20px;
    width: 143px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
}


#filter-city {
   
    height: 20px;
    width: 143px;
    border-radius: 3px;
    margin-left: 15px;
    margin-bottom: 20px;
    border: none;
}


.action-button {
    height: 50px;
    width: 200px;
    font-weight: 100;
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    border: solid #000000;
    background-color: #000000;
    margin-top: 20px;
}

    
    .action-button:hover {
        background-color: #eec183;
        color: #000000;
        border: 1px solid #000000;
        cursor: pointer;
    }


#results {
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.result {
   
    display: inline-flex;
    width: 275px;
    height: 275px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    vertical-align: middle;
}


.result-image-container img {
    
    height: 175px;
    width: 100%;
    padding-bottom: 20px;
}


.result-info-container {
    
    display: inline;
}


.result-title {
    
    text-decoration: none;
    color: #ff6a00;
}

    
    .result-title:hover {
       
        color: #ff6a00;
        text-decoration: underline;
    }


.result-price {
   
    padding: 3px;
    margin: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #D3D3D3;
    font-size: 12px;
}

#sell-something-button {
   
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
    background-color: #ff6a00;
    color: #FFFFFF;
    font-size: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

    #sell-something-button:hover {
        height: 55px;
        width: 55px;
        border-radius: 100%;
        font-size: 35px;
        cursor: pointer;
    }